.div {
  position: absolute;

  transition: all ease-in-out 200ms;

  cursor: pointer;
  user-select: none;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
